*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }

$bg: blue;

div {
  @include bgColor("black")
  color: white;
  background-color: $bg;
  margin: 100px;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  padding-top: 180px;
  font-size: 30px;
}
