* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

div {
  background-color: "black";
  color: white;
  background-color: blue;
  margin: 100px;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  padding-top: 180px;
  font-size: 30px; }
